
@font-face {
    font-family: "opensansL";
    src: url("../asset/font/OpenSans-Light.ttf") format('truetype');
}

@font-face {
    font-family: "opensansR";
    src: url("../asset/font/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "opensansB";
    src: url("../asset/font/OpenSans-Bold.ttf") format('truetype');
}